/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, */

video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

/*-------------------------------lägg till main?-----------------------------------------------*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	color: #191912;
	font-family: 'Arial', sans-serif;
}
li,
dl {
	font-family: 'Arial', sans-serif;
}
h1 {
	color: #191912;
	font-size: 2em;
	margin: .67em 0;
	font-family: Tahoma;
}
h2 {
	font-size: 1.5em;
	margin: .75em 0;
	font-family: Tahoma;
}
h3 {
	font-size: 1.17em;
	margin: .83em 0;
	font-family: Tahoma;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
img,
video {
	max-width: 100%;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.check {
	background-image: url(../pics/check.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}
#shakespeare {
	float: right;
	height: 150px;
	width: 150px;
	border-radius: 10%;
	border-right: 7px solid #E8E8A4;
	margin-left: 4px;
}
/*TABLE STUFF //////////////////////////////////////////////////////////////////////////////////////////////////////*/

.table {
	border: solid #a6a672 2px;
	border-right: solid #a6a672 5px;
	border-left: solid #a6a672 5px;
	color: #191912;
	font-family: 'Arial', sans-serif;
	text-align: center;
}
.tableHead {
	border-bottom: solid #a6a672 1px;
	background-color: #A6A672;
}
.tableBody {
	border-top: solid black 0px;
}
.table td {
	border: solid black 1px;
	background-color: white;
}
.tableFoot th {
	background-color: #a6a672;
	padding-top: 2px;
}
.contactForm {
	width: 250px;
	border: solid white 5px;
	font-family: 'Lobster', 'Arial', sans-serif;
	text-decoration: none;
	text-shadow: 2px 2px white;
	color: #191912;
}
#printButton {
	display: none;
}
.printLink {
	display: none;
}

article {
	border-right: solid #A6A672 10px;
	border-left: solid #F2F2B1 3px;
	border-top: solid #C9C989 3px;
	margin-left: -10px;
}

