@media print {
body {
	background-color: white;
	color: black;
	font-family: 'Times New Roman', serif;
	text-shadow: none;
	border: none;
	}
	
h1 {font-size: 16pt;}
h2 {font-size: 14pt;}
h3 {font-size: 12pt;}
h4 {font-size: 10pt;}
h5 {font-size: 8pt;}
h6 {font-size: 6pt;}

#wholePage {border: none; width: 100%;} 
#header {height: 50px;}
#logo {display: none;}
#content { padding: 0px; border: none;}
#menu {display: none;}

li a div {display: none;}

li a div:hover {display: none;}

.active {display: none;}

#shakespeare{border: none;}
.blogPost video {display: none;}

.printLink {display: inline; font-style: italic;}

a {display: none;}

.contactForm {
	width: 250px;
	border: solid white 5px;
	font-family: 'Times New Roman', 'Arial', sans-serif;
	text-decoration: none; 
	color: black;
	}

.table {border: none;}

}