/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, */ video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	color: #191912;
	font-family: 'Arial', sans-serif;
}

li, dl{
	font-family: 'Arial', sans-serif;
}

h1 {
	color: #191912;
	font-size: 2em;
	margin: .67em 0;
	font-family: Tahoma;
}

h2 { 
	font-size: 1.5em;
	margin: .75em 0;
	font-family: Tahoma;
}

h3 {
	font-size: 1.17em;
	margin: .83em 0;
	font-family: Tahoma;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}


a.menuClass:link {font-family: 'Lobster', 'Arial', sans-serif; text-decoration: none; color: #191912; font-size: 18px;}
a.menuClass:visited {text-decoration: none; color: #191912;}
a.menuClass:hover {text-decoration: none; color: #191912;}
a.menuClass:active {text-decoration: none; color: #191912;}
.menuClass {  background: #E8DBA4;
  /*box-shadow: 10px 0 0 #FFF9C1, -10px 0 0 #FFF9C1;*/}

.activeLink {
	background-color: green;
}

li a div {
	background-color: #ffffff;
	padding-bottom: 1px;
	padding-top: 1px;
	padding: 5px;
	margin-bottom: 3px;
	border-bottom: 2px solid #A6A672;
	border-right: 2px solid #A6A672;
}
li a div:hover {
	background-color: #FFF9C1;
	border-top: 2px solid #A6A672;
	border-left: 2px solid #A6A672;	
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	margin-bottom: 1px;
}
.active {
	background-color: #FFF9C1;	
	border-top: 2px solid #A6A672;
	border-left: 2px solid #A6A672;	
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	margin-bottom: 1px;
	font-weight: bold;
}

#wholePage {
	/*background-color: #FFF9C1;*/
	width: 1000px;
	min-height: 100%;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	border: solid #A6A672 7px;

}

#header {
	background-color: #A6A672; /*A6A672*/
	float:left;
	width: 100%;
	background-image: url(../pics/fr.png); 
	background-repeat: no-repeat;
	background-position: 25%;
}

#logo {
	margin-top: 30px;
}

#menu {	
	/* background-color: #afafaf; */
	/*border: 1px solid black; */
	padding: 10px;
	margin-top: 10px;

	text-align: left;
	width: 175px;
	height: 150px;
	position: relative;
	float: left;
	overflow: hidden;
}

#content {
	background-color: #E8E8A4;
	text-align: left;
	width: 750px;
	min-height: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
	display: inline-block;
	margin: 0 auto;
	padding: 1px 0px 15px 15px; 
	margin-top: 10px;
}

#footer {
	background-color: #A6A672;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

.check {
	background-image: url(../pics/check.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}